html {
  font-family: arial !important;
  font-size: 14px;
}

.table-1 {
  border-collapse: collapse;
}

.table-1 th,
.table-1 td {
  text-align: left;
  vertical-align: top;
  padding: 5px 180px 5px 0px;
}

.table-2 {
  border-collapse: collapse;
  width: 100%;

  & th,
  td {
    border: 2px solid white;
    padding: 8px;
  }

  & th {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      #cccdcd 100%
    );

    background: linear-gradient(
      180deg,
      rgba(237, 237, 237, 0.386) 0%,
      rgba(204, 205, 205, 1) 100%
    );
  }
}

.table-2 tbody tr:last-child td {
  font-weight: bold;
}
